<header class="header">
  <div class="header__container">
    <mat-toolbar color="primary" class="header__toolbar">
      <div class="header__toolbar--title">
        <mat-icon>house</mat-icon>
        <h1>Mi Tienda</h1>
      </div>

      <!-- <button mat-button>
          <mat-icon>
            <span class="material-icons-outlined"> menu </span>
          </mat-icon>
        </button> -->

      <div class="menuBtn__container">
        <button
          mat-mini-fab
          color="accent"
          class="menuBtn"
          (click)="toggleMenu()"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <nav class="header__nav" [ngClass]="menu ? 'hidden' : ''">
        <a mat-button *ngFor="let link of links" routerLink="{{ link.path }}">
          <mat-icon *ngIf="link.isIcon; else text">
            {{ link.description }}
          </mat-icon>
          <ng-template #text>
            {{ link.description }}
          </ng-template>
        </a>
      </nav>
    </mat-toolbar>
  </div>
</header>
