<mat-card class="mat-card">
  <mat-card-header>
    <div mat-card-avatar class="mat-card__avatar"></div>
    <mat-card-title class="mat-card__title">Patricio Pagano</mat-card-title>
    <mat-card-subtitle
      >Estudiante Desarrollador Web Full Stack</mat-card-subtitle
    >
  </mat-card-header>
  <img
    mat-card-image
    src="https://data.1freewallpapers.com/detail/code-text-programming-letters-symbols.jpg"
    class="mat-card__image"
  />
  <mat-card-content class="mat-card__content">
    Mi nombre es Patricio, Licenciado en Ciencias Geológicas con una
    Especialización en Ingeniería de Reservorios. Actualmente, realizando una
    Tecnicatura en Computación y una Diplomatura en Dearrollador Web Full Stack.
    Además, cuento con conocimientos en softwares GIS y distintos lenguajes de
    programación.
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="mat-card-actions">
    <a
      mat-flat-button
      class="mat-card__button"
      href="mailto:pagano.patricio@gmail.com"
      role="button"
      >Contactar</a
    >
  </mat-card-actions>
</mat-card>
