<footer class="footer text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f fa-2x"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee"
        href="#!"
        role="button"
        ><i class="fab fa-twitter fa-2x"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39"
        href="mailto:pagano.patricio@gmail.com"
        role="button"
        ><i class="fab fa-google fa-2x"></i
      ></a>

      <!-- Youtube -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ff0000"
        href="https://youtube.com"
        role="button"
      >
        <i fab icon="youtube" class="fab fa-youtube fa-2x"></i>
      </a>

      <!-- Whatsapp -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #18d480"
        href="https://api.whatsapp.com/send?phone=+542916418967"
        target="_blank"
        role="button"
      >
        <i fab icon="whatsapp" class="fab fa-whatsapp fa-2x"></i>
      </a>
      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac"
        href="https://instagram.com"
        target="_blank"
        role="button"
        ><i class="fab fa-instagram fa-2x"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca"
        href="https://linkedin.com/in/patricio-pagano"
        target="_blank"
        role="button"
        ><i class="fab fa-linkedin-in fa-2x"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333"
        href="https://github.com/ppagano91"
        target="_blank"
        role="button"
        ><i class="fab fa-github fa-2x"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2)">
    <h3>© 2021 Copyright - Patricio Pagano</h3>
  </div>
  <!-- Copyright -->
</footer>
