<mat-toolbar color="primary" class="footer__toolbar">
  <div class="footer__links">
    <a href="">
      <img
        class="footer__links--logo"
        src="../../../../assets/images/logo_facebook.svg"
        alt="Logo Facebook"
      />
    </a>
    <a href="">
      <img
        class="footer__links--logo"
        src="../../../../assets/images/logo_twitter.svg"
        alt="Logo Twitter"
      />
    </a>
    <a href="https://api.whatsapp.com/send?phone=+542916418967" target="_blank">
      <img
        class="footer__links--logo"
        src="../../../../assets/images/logo_whatsApp.svg"
        alt="Logo Whatsapp"
      />
    </a>
    <a href="">
      <img
        class="footer__links--logo"
        src="../../../../assets/images/logo_instagram.svg"
        alt="Logo Instagram"
      />
    </a>
  </div>
  <div>
    <h4>Mi Tienda - 2021</h4>
  </div>
</mat-toolbar>
